<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="MarketsConnectionString" connectionString="server=servername;port=3306;uid=root;password=root;database=markets" providerName="MySql.Data.MySqlClient" />
    <add name="AnalyticsConnectionString" connectionString="server=servername;port=3306;uid=root;password=root;database=analytics" providerName="MySql.Data.MySqlClient" />
    <add name="OrderBookConnectionString" connectionString="server=servername;port=3306;uid=root;password=root;database=orderbook" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>